<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head"></head>
<body>

	<header th:replace="/layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-dark btn-xs"
						th:href="@{'/ver/' + ${factura.cliente.id}}"
						th:text="'&laquo; volver'"></a>
				</h4>

				<form th:action="@{/factura/form/}" th:object="${factura}"
					method="post">

					<div class="form-group row">
						<label for="cliente" class="col-sm-2 col-form-label"
							th:text="#{text.factura.form.cliente}"</label>
						<div class="col-sm-6">
							<input
								th:value="${factura.cliente.nombre} 
								+ ' ' + ${factura.cliente.apellido}"
								class="form-control" disable='disable' />
						</div>
					</div>

					<div class="form-group row">
						<label for="descripcion" class="col-sm-2 col-form-label"
							th:text="#{text.cliente.factura.descripcion}"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{descripcion}" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('descripcion')}"
								th:errors="*{descripcion}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label for="observacion" class="col-sm-2 col-form-label"
							th:text="#{text.factura.form.buscar}"></label>
						<div class="col-sm-6">
							<textarea th:field="*{observacion}" class="form-control"></textarea>
						</div>
					</div>

					<div class="form-group row">
						<label for="buscar_producto" class="col-sm-2 col-form-label"
							th:text="#{text.factura.form.buscar}"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_producto" id="buscar_producto"
								class="form-control" />
						</div>
					</div>

					<table th:replace="factura/plantilla-items :: itemsFactura"></table>

					<table id="cargarItemProductos"
						class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th th:text="#{text.factura.form.item.nombre}">Nombre</th>
								<th th:text="#{text.factura.form.item.precio}">Precio</th>
								<th th:text="#{text.factura.form.item.cantidad}">Cantidad</th>
								<th th:text="#{text.factura.form.item.total}">Total</th>
								<th th:text="#{text.factura.form.item.eliminar}">Eliminar</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<h5>
						Gran-total <span text="#{text.factura.form.total}"
							class="badge badge-secondary" id="gran_total">0</span>
					</h5>
					<!-- 					<h5> -->
					<!-- 						Iva <span class="badge badge-primary" id="iva_total">0</span> -->
					<!-- 					</h5> -->
					<!-- 					<h5> -->
					<!-- 						Total <span class="badge badge-secondary" id="final_total">0</span> -->
					<!-- 					</h5> -->
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}" class="btn btn-success" />
						</div>
					</div>
				</form>


			</div>
		</div>
	</div>

	<footer th:replace="/layout/layout :: footer"></footer>
	<script th:replace="factura/js/autocomplete-productos :: javascript"></script>

</body>
</html>