<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/layout/layout :: head"></head>
<body>
	<header th:replace="/layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<!-- Boton para crear usuario conectado con el controlador de Cliente,
					 se usa la seguridad spring para determinar, si el usuario tiene los
					 privilegios para crear clientes		 
				-->
				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form}"
						class="btn btn-primary" th:text="#{text.cliente.crear}">crear cliente</a>
					<a class="btn btn-primary btn-xs float-right mx-2" th:href="@{'/listar'(format=csv)}">CSV</a>
					<a class="btn btn-outline-success btn-xs float-right mx-1" th:href="@{'/listar'(format=xml)}">XML</a>
					<a class="btn btn-outline-warning btn-xs float-right mx-1" th:href="@{'/listar'(format=json)}">JSON/a>
				</h4>

				<table class="table table-striped">
					<thead class="thead-inverse">
					<tr>
						<th sec:authorize="hasRole('ROLE_USER')">Id</th>
						<th th:text="#{text.cliente.nombre}">Nombre</th>
						<th th:text="#{text.cliente.apellido}">Apellido</th>
						<th th:text="#{text.cliente.dni}">Dni</th>
						<th th:text="#{text.cliente.correo}">Correo</th>
						<th th:text="#{text.cliente.telefono}">Telefono</th>
						<th th:text="#{text.cliente.createAt}">Fecha</th>
						<th th:text="#{text.cliente.factura.crear}" sec:authorize="hasRole('ROLE_ADMIN')">Factura</th>
						<th th:text="#{text.cliente.editar}" sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
						<th th:text="#{text.cliente.eliminar}" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
					</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td sec:authorize="hasRole('ROLE_USER')"><a
								class="btn btn-primary btn-xs"
								th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.dni}"></td>
							<td th:text="${cliente.correo}"></td>
							<td th:text="${cliente.telefono}"></td>
							<td th:text="${cliente.createAt}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-success btn-sm"
								th:href="@{'/factura/form/' + ${cliente.id}}" th:text="'crear'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-primary btn-sm"
								th:href="@{/form/} + ${cliente.id}" th:text="'editar'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-danger btn-sm"
								th:href="@{/eliminar/} + ${cliente.id}" th:text="'eliminar'"
								onclick="return confirm('Estàs seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>

	</div>
	<footer th:replace="/layout/layout :: footer"></footer>
</body>
</html>