<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head"></head>
<body>
	<header th:replace="/layout/layout :: header"></header>
	
	<div class="container">
		<h1 class="text-primary" th:text="${titulo}"></h1>
		<p><a th:href="@{/form}" class="btn btn-primary btn-xs">Crear Cliente</a></p>
		<table class="table table-striped">
			<thead>
				<th>Id</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Dni</th>
				<th>Correo</th>
				<th>Telefono</th>
				<th>Fecha</th>
				<th>Editar</th>
				<th>Eliminar</th>
			</thead>
			<tbody>
				<tr th:each="cliente: ${clientes}">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellido}"></td>
					<td th:text="${cliente.dni}"></td>
					<td th:text="${cliente.correo}"></td>
					<td th:text="${cliente.telefono}"></td>
					<td th:text="${cliente.createAt}"></td>
					<td><a class="btn btn-primary btn-xs" th:href="@{/form/} + ${cliente.id}" th:text="'Editar'"></a></td>
					<td><a class ="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${cliente.id}" th:text="'Eliminar'" onclick="return confirm('Estas seguro que desea eliminar?');"></a></td>
				</tr>
			</tbody>

		</table>
	</div>
	<footer th="/layout/layout :: footer"></footer>
	
</body>
</html>